@media (max-width: 700px) {
  .nav {
    width: 100vw;
  }

  .hamburger {
    display: block;

    margin-top: -10px;
    margin-left: 75%;
  }

  .nav-contact {
    height: 10vh;
  }

  .nav {
    flex-wrap: wrap;
    height: 60px;
    align-items: center;
    padding-top: 10px;
  }
.organisation-name img{
  width: fit-content; 

   margin-top:-10.5px;
}
  .nav-items {
    margin-left: 130vw;
    width: 70vw;
z-index: 999999999999;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    margin-top: -30px;
    border-left:5px solid #092e55;
  }

  #toggle:checked~.nav-items {
  margin-left: 30vw;
  }

  .nav-items ul {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    padding: 10px 0;
    width: 100%;
    font-size: x-large;
    z-index: 99999;


  }

  .nav-items ul li {
    padding: 10px 0;
    border: 0;
 z-index: 99999;
  }

  .nav-items ul li a {
    color: #092e55;
  }

  .dropdown-content {
    align-content: center;
    position: relative;


  }

  .dropdown-content a {
    font-size: clamp(0.3em, 0.7em, 2.2em);
    background-color: white;
    list-style-type: '⮞';

  }

  .input-form-header {

    background-color: #092e55;
    right: 10px;
    flex: 1 1 30%;
    border-radius: 5%;
    width: 80%;
    margin: 10%;
  }

  .button-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 87.5%;
    width: 100%;
  }

  .cta-btn-nav {
    background-color: #092e55;
    color: white;
    font-weight: 800;
    padding: 5px 30px;
    border: none;
    margin-left: -1px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  .cta-btn-nav:hover {
    background-color: #767d84;
    
  }
  .hamburger{
  margin-left:90%;
}
}



